body,html{
	padding:0;margin:0;
	font-family: arial;
}
*{box-sizing: border-box;}


body{	
	background:#333340;
	color:lightgray;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#goranskaya-construktor{
	width: 100%;
	height: 100%;
	background: lightgray;
	padding:20px 2% 70px 2%; 
	position: absolute;	
}
#goranskaya-construktor main{
	background: darkgray;width: 100%;
	height: 100%;border-radius: 8px;
	position: relative;overflow: hidden;
}
#goranskaya-construktor footer{
position: absolute;bottom: 0;left:0;
width: 100%;height: 40px;
background: black;display: flex;
align-items: center;

}
#goranskaya-construktor footer >div{width: 50%;}
#goranskaya-construktor footer {font-size: 0;}
#goranskaya-construktor footer .footer-cyber {text-align:left;padding: 0 0 0 2%;}
#goranskaya-construktor footer .footer-cyber img{height: 25px;width: auto;}
#goranskaya-construktor footer .footer-coder{text-align:right;padding: 0 2% 0 0;}
#goranskaya-construktor footer .footer-coder a{text-decoration:none;color:white;font:.8rem arial; }
#goranskaya-construktor footer .footer-coder a:hover{text-decoration:underline;}

.all-params{
    width:300px;
    background: gray;
    padding:10px 30px 20px 30px;
    border-radius: 10px;
}
#range-1-brush-size-label{ font:.9rem arial; }

.annotation{color:gray;}
.annotation span{color:white;}

#painter{ position: relative;width: 100%;height: 100%;overflow:hidden; background: #377C8E;}

#painter-zoom-id {
	position: absolute;
	top:10px;right:10px;	
	background: gray;
	width: 54px;height: 108px;
	border-radius:50px;	
}
#painter-zoom-id span{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);font:1rem arial;color:black;}
#painter-zoom-id .painter-zoom-in{
	width: 50px; height: 50px;border-radius: 100%;display: inline-block; 
	background: gold;cursor: pointer;
	position: absolute;top:2px;left:2px;	
}
#painter-zoom-id .painter-zoom-out{
	width: 50px; height: 50px;border-radius: 100%; display: inline-block;
	background: pink;cursor: pointer;
	position: absolute;top:56px;left:2px;
}
#painter-zoom-id div:active{opacity: .5;}

#painter-status-bar {position: absolute;bottom: 0;left: 0;background: gray;width: 100%;padding: 0;display: flex;}
#painter-status-bar span{font:.8rem arial;color:white;padding:6px 10px;letter-spacing: 2px;}
