body,html{
	padding:0;margin:0;
	font-family: arial;
}
*{box-sizing: border-box;}


body{	
	background:#333340;
	color:lightgray;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#goranskaya-construktor{
	width: 100%;
	height: 100%;
	background: lightgray;
	padding:20px 2% 70px 2%; 
	position: absolute;	
}
#goranskaya-construktor main{
	background: darkgray;width: 100%;
	height: 100%;border-radius: 8px;
	position: relative;overflow: hidden;
}
#goranskaya-construktor footer{
position: absolute;bottom: 0;left:0;
width: 100%;height: 40px;
background: black;display: flex;
align-items: center;

}
#goranskaya-construktor footer >div{width: 50%;}
#goranskaya-construktor footer {font-size: 0;}
#goranskaya-construktor footer .footer-cyber {text-align:left;padding: 0 0 0 2%;}
#goranskaya-construktor footer .footer-cyber img{height: 25px;width: auto;}
#goranskaya-construktor footer .footer-coder{text-align:right;padding: 0 2% 0 0;}
#goranskaya-construktor footer .footer-coder a{text-decoration:none;color:white;font:.8rem arial; }
#goranskaya-construktor footer .footer-coder a:hover{text-decoration:underline;}

.all-params{
    width:300px;
    background: gray;
    padding:10px 30px 20px 30px;
    border-radius: 10px;
}
#range-1-brush-size-label{ font:.9rem arial; }

.annotation{color:gray;}
.annotation span{color:white;}

#painter{ position: relative;width: 100%;height: 100%;overflow:hidden; background: #377C8E;}

/*

	PAINTER ZOOM PANEL

*/

#painter-zoom-id {position: absolute;bottom:30%;right:10px;	width: 78px;border-radius:30px;	height: 318px;}
#painter-zoom-id .painter-zoom-in{width: 66px; height: 66px;border-radius: 26px;cursor: pointer;position: absolute;top:6px;left:6px;}
#painter-zoom-id .painter-zoom-out{width: 66px; height: 66px;border-radius: 26px;cursor: pointer;position: absolute;top:78px;left:6px;}
#painter-zoom-id .painter-zoom-pan{width: 66px; height: 66px;border-radius: 26px;cursor: pointer;position: absolute;top:150px;left:6px;}
#painter-zoom-id .painter-zoom-divider{width: 60px; height: 0;position: absolute;top:230px;left:9px;border-top:2px solid white;opacity: .3;}
#painter-zoom-id .painter-zoom-preview{width: 66px; height: 66px;border-radius: 26px;cursor: pointer;position: absolute;top:246px;left:6px;}

#painter-zoom-id.skin-green .painter-zoom-in{background:url("../i/icons-green.png") no-repeat center 0  /100% auto ;}
#painter-zoom-id.skin-green .painter-zoom-out{background:url("../i/icons-green.png") no-repeat center 33%  /100% auto ;}
#painter-zoom-id.skin-green .painter-zoom-pan{background:url("../i/icons-green.png") no-repeat center 66% /100% auto ;}
#painter-zoom-id.skin-green .painter-zoom-preview{background:url("../i/icons-green.png") no-repeat center 100% /100% auto ;}

#painter-zoom-id.skin-green{ background-color: #99aab0;}
#painter-zoom-id.skin-green .painter-zoom-in,
#painter-zoom-id.skin-green .painter-zoom-out,
#painter-zoom-id.skin-green .painter-zoom-preview{background-color: #00a2ab;transition: .3s;}
#painter-zoom-id.skin-green .painter-zoom-in:hover,
#painter-zoom-id.skin-green .painter-zoom-out:hover,
#painter-zoom-id.skin-green .painter-zoom-preview:hover{background-color: #383838;}
#painter-zoom-id.skin-green .painter-zoom-in:active,
#painter-zoom-id.skin-green .painter-zoom-out:active,
#painter-zoom-id.skin-green .painter-zoom-preview:active{background-color: #5d5d5d;transition: 0s;}

#painter-zoom-id.skin-green .painter-zoom-pan{background-color: rgba(255,255,255,.3);transition: .3s;}
#painter-zoom-id.skin-green .painter-zoom-pan:hover{background-color: rgba(255,255,255,1);}
#painter-zoom-id.skin-green .painter-zoom-pan:active{background-color: rgba(255,255,255,.8);transition: 0s;}

/*

	PAINTER TOOLS

*/

#painter-tools-id {position: absolute;top:10%;left:30px;}
.painter-tools-newdoc,
.painter-tools-fill,
.painter-tools-brush,
.painter-tools-eraser,
.painter-tools-clearall{position: absolute;width: 52px;height: 48px;border-radius: 16px;cursor: pointer;}
.painter-tools-brushsizer{position: absolute;width: 52px;height: 240px;border-radius: 16px;cursor: pointer;}

.painter-tools-newdoc,
.painter-tools-fill,
.painter-tools-brush,
.painter-tools-eraser,
.painter-tools-clearall,
.painter-tools-brushsizer{background: url('../i/icons-tools.png') no-repeat top left / 100% auto;}

.painter-tools-newdoc{background-position:0 0; }
.painter-tools-fill{background-position:0 11.4%; }
.painter-tools-clearall{background-position:0 22.5%; }
.painter-tools-brush{background-position:0 33.6%; }
.painter-tools-eraser{background-position:0 44.7%; }
.painter-tools-brushsizer{background-position:0 100%; }

.painter-tools-newdoc,
.painter-tools-fill,
.painter-tools-brush,
.painter-tools-eraser,
.painter-tools-clearall,
.painter-tools-brushsizer{background-color: #99aab0;}
.painter-tools-newdoc:hover,
.painter-tools-fill:hover,
.painter-tools-brush:hover,
.painter-tools-eraser:hover,
.painter-tools-clearall:hover,
.painter-tools-brushsizer:hover{background-color: #c1d2d6;}
.painter-tools-newdoc:active,
.painter-tools-fill:active,
.painter-tools-brush:active,
.painter-tools-eraser:active,
.painter-tools-clearall:active{background-color: #ffffff;}

.painter-tools-fill.current,
.painter-tools-brush.current,
.painter-tools-eraser.current{background-color: #ffffff;}


.painter-tools-newdoc{left:0;top:0;}
.painter-tools-fill{left:0;top:65px;}
.painter-tools-clearall{left:0;top:122px;}
.painter-tools-brush{left:61px;top:65px;}
.painter-tools-eraser{left:61px;top:122px;}
.painter-tools-brushsizer{left:0;top:187px;}





#painter-status-bar {position: absolute;bottom: 0;left: 0;background: gray;width: 100%;padding: 0;display: flex;}
#painter-status-bar span{font:.8rem arial;color:white;padding:6px 10px;letter-spacing: 2px;}
